<div class="row">
  <div class="col-md-6 image_container"> 
    <%= image_tag("porsche.JPG", :alt => "car image") %>
  </div><br><br>


  <div class="col-md-6 text_contact_us">
    <div id="address">
    <br>
      <h2> Contact Us </h2><br>

    <h5>Adress:</h5>
      <p>15 Jutland Road Toronto Ontario M8Z 2G6</p>

    <h5><i class="glyphicon glyphicon-envelope"></i> Email: </h5>
      <p> <a href="mailto:summitautocentre@yahoo.ca?subject=AutoQuestion">summitautocentre@yahoo.ca</a></p>

    <h5><span class="glyphicon glyphicon-earphone"></span> Phone: </h5>
      <strong><p class="phone"> 416.252.7277 </p></strong><br>
    </div>  

  <table class="tabletable-striped">

  <tr>
      <th>First name</th>
      <th>Last name</th> 
      <th>Phone</th>
    </tr>
    <tr>
      <td>Toni</td>
      <td>Troka</td> 
      <td>416.716.9394</td>
    </tr>
    <tr>
      <td>George</td>
      <td>Troka</td> 
      <td>416.716.9394</td>
    </tr>
  </table>
  </div><br><br>

   <div class="col-md-12 map"> 
    <%= image_tag("map.png", :alt => "map image") %>
  </div>
  
  </div><br>




