<div class="row">
  
  <div class="col-md-6 image_container"> 
    <%= image_tag("porsche.JPG", :alt => "car image") %>
  </div>

  <div class="col-md-6 text_our_shop">
    <h2> Our Shop </h2><br>
        <p> We provide the best quality out there </p>
  </div>

</div>