<div class="row">
  
  <div class="col-md-6 image_container"> 
    <%= image_tag("porsche.JPG", :alt => "car image") %>
  </div>

  <div class="col-md-6 text_our_services">
    <h2> Our Services </h2><br>
      <dl class="dl-horizontal">
        <dt> Paint</dt>
        <dd> We have new paint room where.... </dd><br>

        <dt> Body</dt>
        <dd> We have new paint room where.... </dd><br>
      
        <dt> Prep room</dt>
        <dd> We have new paint room where.... </dd><br>
      </dl>
  
  </div>
</div>


